<div tabindex="-1"
    [ngClass]="{'ring-white' : isActive && isFocused, 'aspect-[1/1.5]': !isLandscape, 'aspect-[16/9]': isLandscape, 'w-[15rem] rounded': !isLarge, 'w-[42rem] rounded-xl': isLarge }"
    class="relative flex flex-col justify-end ring-4 ring-transparent transition-shadow box-border">
    <div [ngClass]="{'rounded': !isLarge, 'rounded-xl': isLarge }"
        class="absolute p-8 left-0 top-0 right-0 bottom-0 flex flex-col justify-end radial-gradient rounded-xl">
        @if(isLarge && !hideTitle) {<h5 class="text-4xl">{{title}}</h5>}
    </div>
    <img src="{{image}}" alt="{{title}}" [ngClass]="{'rounded': !isLarge, 'rounded-xl': isLarge }"
        class="block object-cover w-full h-full" />
</div>
@if(!isLarge && !hideTitle) {
<div [ngClass]="{'opacity-100': isActive && isFocused }" class="py-4 text-center opacity-0 transition-opacity">
    <h5 class="text-lg">{{title}}</h5>
</div>
}