<div class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center backdrop-blur-md">
    <div class="bg-white p-14 text-black rounded-lg text-2xl">
        <h2 class="text-4xl mb-4">Exit</h2>
        <p class="mb-10">Are you sure you want to close the app?</p>
        <div class="flex justify-between">
            <button class="appearance-none rounded-lg p-4 min-w-40"
                [ngClass]="activeButtonIndex === 0 ? 'text-white bg-neutral-950' : 'bg-neutral-200'">Yes</button>
            <button class="appearance-none rounded-lg p-4 min-w-40"
                [ngClass]="activeButtonIndex === 1 ? 'text-white bg-neutral-950' : 'bg-neutral-200'">No</button>
        </div>
    </div>
</div>