@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/font/font.css';

:root {
  --background: #1a1c1e;
  --text: #FFFFFF;
  --gray: #444746;
  --jellyfin-gradient-start: #AA5CC3;
  --jellyfin-gradient-end: #00A4DC;
}

body {
  font-family: 'Roboto';
  color: var(--text);
  background-color: var(--background);
  margin: 54px 0;
}

@layer utilities {
  .bg-jellyfin-gradient {
    background-image: linear-gradient(to right top, #000b25, #0a2544, #133f65, #185b88, #1779ac, #1c83be, #238ed0, #2e98e3, #518de4, #727fdf, #906fd4, #aa5cc3);
  }
  .bg-jellyfin-button-gradient {
    background-image: linear-gradient(to right top, var(--jellyfin-gradient-start), var(--jellyfin-gradient-end));
  }
  .bg-jellyfin-navbar-gradient {
    background: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgba(0,0,0,0) 100%);
  }
  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }
  .bg-gradient-conic {
    background-image: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  }
  .bg-radial-gradient {
    background-image: linear-gradient(208deg, transparent 0%, var(--background) 100%);
  }
  .bg-detail-gradient {
    background: linear-gradient(45deg, var(--background) 20%, rgba(26, 28, 30, 0.95) 35%, rgba(26, 28, 30, 0.9) 40%, rgba(26, 28, 30, 0.8) 100%), linear-gradient(0deg, var(--background) 0%, rgba(26, 28, 30, 0) 35%);
  }
}

.loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--background) 94%, #0000) top/3px 3px no-repeat, conic-gradient(#0000 30%, var(--background));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: l13 1s infinite linear;

  &.light {
    background: radial-gradient(farthest-side, #fff 94%, #0000) top/3px 3px no-repeat, conic-gradient(#0000 30%, #fff);
  }

  &.blue {
    background: radial-gradient(farthest-side, #37A2DB 94%, #0000) top/3px 3px no-repeat, conic-gradient(#0000 30%, #37A2DB);
  }
}

@keyframes l13{ 
  100%{transform: rotate(1turn)}
}

.layout {
  --navbarWidth: 300px;
  display: flex;
  width: 100vw;
  height: 100vh;

  .navbar, 
  .content {
    transition: width 0.3s ease, max-width 0.3s ease;
  }

  .navbar {
    width: 0;
    max-width: 0;
    overflow-y: auto;

    > * {
      width: var(--navbarWidth);
      max-width: var(--navbarWidth);
    }
  }

  .content {
    flex: 1;
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  &.focused {
    .navbar {
      width: var(--navbarWidth);
      max-width: var(--navbarWidth);
    }

    .content {
      width: calc(100% - var(--navbarWidth));
      max-width: calc(100% - var(--navbarWidth));
    }
  }
}

