<main class="py-8">
  <app-slider [componentFocused]="!modalService.getModalState()">
    <app-card title="Shadow Hunter" image="https://picsum.photos/800/440" />
    <app-card title="Super Puppy" image="https://picsum.photos/800/440" />
    <app-card title="Power Sisters" image="https://picsum.photos/800/440" />
    <app-card title="Earth" image="https://picsum.photos/800/440" />
  </app-slider>
</main>

@if (modalService.getModalState()) {
<app-modal [componentFocused]="modalService.getModalState()" />
}

<router-outlet />